@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html{
    background-color: rgb(228, 223, 161);
    margin: auto;
}

.TransitionText{
    font-family: 'Indie Flower', cursive; 
    font-size: 30px; 
    text-align: center;
}

.Posters{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center, space-between;
    margin: 5px;
    
  }

.center{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.left{
    float:left; 
    padding: 20px;
}

.right{
    float:right; 
    padding: 20px;
}