@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html{
    background-color: rgb(228, 223, 161);
    margin: auto;
}

Header{
    color: rgb(0, 0, 0);
    background-color: rgb(185, 185, 185);
    opacity: 1;
    position:static;
    width: 100%;
    z-index:10;
    
}

.Pip{
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}

.TransitionText{
    font-family: 'Indie Flower', cursive; 
    font-size: 30px; 
    text-align: center;
    font-weight: bolder;
}

.TransitionText2{
    font-family: 'Indie Flower', cursive; 
    font-size: 22px; 
    font-weight: bold;
    text-align: center;
}

.Posters{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

.Posters2{
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 180px;
}

.center{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.left{
    float:left; 
    padding: 20px;
}

.right{
    float:right; 
    padding: 20px;
}