body{
    background-color: 
    rgb(196, 255, 250);}

Header{
    position:fixed;
    width: 100%;
    text-align: center;  
    background-color: #e4a3a3;
    border-bottom: 80px solid #e4a3a3;}

h1{
    color: rgb(82, 137, 199); 
    font-family: cursive; 
    text-align: center;}

h3,p{
    font-family: cursive; 
    text-align: center;}

.Links{
    text-align: center;}