body{
    background-color: rgb(219, 182, 139);}

Header{
    color: black;
    background-color: #e4a3a3;
    opacity: 1;
    position:fixed;
    width: 100%;
    z-index:10;}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;}
      
li {
    color:black;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    width: 200px;}
    
li:hover {
    color: #1cace0;}
    
.welcome{
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    position: relative;
    top: 50px;
}

h1{
    color: rgb(82, 137, 199); 
    font-family: cursive; 
    text-align: center;}

h3,p{
    font-family: cursive; 
    text-align: center;}

.Links{
    text-align: center;
    display: inline-block;
    width: 200px;}